#Taller Ingenieria 2
target
src/main/resources/Reportes/.metadata/
src/main/resources/Reportes/MyReports/bin/
src/main/resources/Reportes/MyReports/.classpath.xml
src/main/resources/Reportes/MyReports/.project.xml

